In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

1. A physician is evaluating a new diet for her patients with a family history of heart disease. To test the effectiveness of this diet, 16 patients are placed on the diet for 6 months. Their weights and triglyceride levels are measured before and after the study, and the physician wants to know if either set of measurements has changed. 
(Data set: dietstudy.csv)

In [2]:
dietstudy = pd.read_csv('dietstudy.csv')
dietstudy

    patid  age  gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0       1   45    Male  180  148  106  113  100   198   196   193   188   192
1       2   56    Male  139   94  119   75   92   237   233   232   228   225
2       3   50    Male  152  185   86  149  118   233   231   229   228   226
3       4   46  Female  112  145  136  149   82   179   181   177   174   172
4       5   64    Male  156  104  157   79   97   219   217   215   213   214
5       6   49  Female  167  138   88  107  171   169   166   165   162   161
6       7   63    Male  138  132  146  143  132   222   219   215   215   210
7       8   63  Female  160  128  150  118  123   167   167   166   162   161
8       9   52    Male  107  120  129  195  174   199   200   196   196   193
9      10   45    Male  156  103  126  135   92   233   229   229   229   226
10     11   61  Female   94  144  114  114  121   179   181   176   173   173
11     12   49  Female  107   93  156  148  150   158   153   155   155   154
12     13   61  Female  145  107  129   86  159   157   151   150   145   143
13     14   59    Male  186  142  128  122  101   216   213   210   210   206
14     15   52    Male  112  107  103   89  148   257   255   254   252   249
15     16   60  Female  104  103  117   79  130   151   146   144   144   140

In [3]:
from sklearn import preprocessing
preprocessing.scale(dietstudy.tg0)

/Applications/Python_Anaconda/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, _DataConversionWarning)

array([ 1.47814645,  0.02000499,  0.48234253, -0.94023451,  0.62460023,
        1.01580891, -0.01555944,  0.76685793, -1.11805664,  0.62460023,
       -1.58039417, -1.11805664,  0.23339154,  1.691533  , -0.94023451,
       -1.22474991])

2. An analyst at a department store wants to evaluate a recent credit card promotion. To this end, 500 cardholders were randomly selected. Half received an ad promoting a reduced interest rate on purchases made over the next three months, and half received a standard seasonal ad. Is the promotion effective to increase sales?
(Data set: creditpromo.csv)

In [4]:
creditpromo = pd.read_csv('creditpromo.csv')
creditpromo.head(5)

     id         insert      dollars
0   148       Standard  2232.771979
1   572  New Promotion  1403.807542
2   973       Standard  2327.092181
3  1096       Standard  1280.030541
4  1541  New Promotion  1513.563200

In [5]:
Standard = creditpromo[creditpromo['insert'] == 'Standard']['dollars']
NewPromotion = creditpromo[creditpromo['insert'] != 'Standard']['dollars']

#### Normality Test

In [6]:
from sklearn import preprocessing
print ("Normality Test for Standard:",stats.normaltest(preprocessing.scale(Standard)))
print ("Normality Test for Standard:",stats.normaltest(Standard))
print ("Normality Test for New Promotion:",stats.normaltest(NewPromotion))

Normality Test for Standard: NormaltestResult(statistic=3.7869448422090519, pvalue=0.15054813363567141)
Normality Test for Standard: NormaltestResult(statistic=3.7869448422090537, pvalue=0.15054813363567127)
Normality Test for New Promotion: NormaltestResult(statistic=2.3711522475029621, pvalue=0.3055700825944534)

#### Variance Test

In [7]:
print ("Bartlett's test for equal Variance",stats.bartlett(Standard,NewPromotion))
print ("Levene's test for equal Variance",stats.levene(Standard,NewPromotion))

Bartlett's test for equal Variance BartlettResult(statistic=0.20212739623859383, pvalue=0.65300912518720944)
Levene's test for equal Variance LeveneResult(statistic=1.1334682485473733, pvalue=0.28755268634638775)

#### 2- Sample T Test

In [8]:
#In this Business Case the Discrete variables(x) are independent in nature, so we'll go for 2-sample T test for equal variance
stats.ttest_ind(a = NewPromotion,
               b = Standard,
               equal_var = True)
#As we get the as P-Value  0.024 which is less than 0.05. Hence we'll accept the Ha. i.e. we are resonably sure that mean of 
#New Promotion is ststistically different from Standard sales Promotion

Ttest_indResult(statistic=2.2604227264649963, pvalue=0.024225996894147814)

3. An experiment is conducted to study the hybrid seed production of bottle gourd under open field conditions. The main aim of the investigation is to compare natural pollination and hand pollination. The data are collected on 10 randomly selected plants from each of natural pollination and hand pollination. The data are collected on fruit weight (kg), seed yield/plant (g) and seedling length (cm). 
(Data set: pollination.csv) 
a. Is the overall population of Seed yield/plant (g) equals to 200? 
b. Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different.

In [11]:
pollination = pd.read_csv('pollination.csv')
pollination.Seed_Yield_Plant.size

20

In [12]:
pollination.head(5)

     Group  Fruit_Wt  Seed_Yield_Plant  Seedling_length
0  Natural      1.85            147.70            16.86
1  Natural      1.86            136.86            16.77
2  Natural      1.83            149.97            16.35
3  Natural      1.89            172.33            18.26
4  Natural      1.80            144.46            17.90

##### Is the overall population of Seed yield/plant (g) equals to 200?

In [13]:
seedyield = pollination.Seed_Yield_Plant

In [14]:
#Normality Test
stats.normaltest(preprocessing.scale(seedyield))

NormaltestResult(statistic=18.3984477718999, pvalue=0.00010111785037503622)

In [15]:
stats.wilcoxon(preprocessing.scale(seedyield))

WilcoxonResult(statistic=102.0, pvalue=0.91082498527336198)

In [16]:
#Applied Log transformation
stats.normaltest(preprocessing.scale(pollination.Seed_Yield_Plant.apply(lambda x: np.log(x))))

NormaltestResult(statistic=20.641128314585533, pvalue=3.2948521887027108e-05)

In [17]:
#1 Sample T Test
stats.ttest_1samp(a = seedyield, popmean = 200)
#As per the below outpout P-Value = 0.032 < 0.05. That means we'll accept Ha. i.e overall population of seed > 200.

Ttest_1sampResult(statistic=-2.3009121248548645, pvalue=0.032891040921283025)

In [18]:
seedyield.mean()

180.8035

##### Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different.

In [19]:
seedyield_natural = pollination.Seed_Yield_Plant[pollination.Group == 'Natural']
seedyield_hand = pollination.Seed_Yield_Plant[pollination.Group != 'Natural']

In [20]:
#Normality Test
print (stats.normaltest(preprocessing.scale(seedyield_natural)))
print (stats.normaltest(preprocessing.scale(seedyield_hand)))

NormaltestResult(statistic=13.195841834321524, pvalue=0.0013631992975820188)
NormaltestResult(statistic=0.075743550431246934, pvalue=0.96283639246506836)

/Applications/Python_Anaconda/anaconda/lib/python3.6/site-packages/scipy/stats/stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  "anyway, n=%i" % int(n))

In [21]:
# Variance Test
stats.levene(seedyield_natural,seedyield_hand)

LeveneResult(statistic=0.2714491306455149, pvalue=0.60871200870797315)

In [22]:
#2 Sample T test for equal variance
stats.ttest_ind(a = seedyield_hand,b = seedyield_natural, equal_var= True)
#As per the results below it has statistiaclly proven the samples are statistically different./

Ttest_indResult(statistic=13.958260515902547, pvalue=4.2714815854843853e-11)

4. An electronics firm is developing a new DVD player in response to customer requests. Using a prototype, the marketing team has collected focus data for different age groups viz. Under 25; 25-34; 35-44; 45-54; 55-64; 65 and above. Do you think that consumers of various ages rated the design differently?
(Data set: dvdplayer.csv).

In [27]:
dvdplayer = pd.read_csv('dvdplayer.csv')
dvdplayer.agegroup.unique()

array(['65 and over', '55-64', 'Under 25', '25-34', '45-54', '35-44'], dtype=object)

In [28]:
under25 = dvdplayer.dvdscore[dvdplayer.agegroup == 'Under 25']
inbetween2534 = dvdplayer.dvdscore[dvdplayer.agegroup == '25-34']
inbetween3544 = dvdplayer.dvdscore[dvdplayer.agegroup == '35-44']
inbetween5564 = dvdplayer.dvdscore[dvdplayer.agegroup == '55-64']
over65 = dvdplayer.dvdscore[dvdplayer.agegroup == '65 and over']

In [36]:
#Normality Test
print ("For Under 25:",stats.normaltest(under25))
print ("For 25-34:",stats.normaltest(inbetween2534))
print ("For 35-44:",stats.normaltest(inbetween3544))
#print ("For 55-64:",stats.normaltest(inbetween5564))
print ("For Over 65:",stats.normaltest(over65))

For Under 25: NormaltestResult(statistic=2.920075172603386, pvalue=0.23222754599111425)
For 25-34: NormaltestResult(statistic=2.5183359720807701, pvalue=0.28389012881611059)
For 35-44: NormaltestResult(statistic=1.7509729175127429, pvalue=0.41665928281439657)
For Over 65: NormaltestResult(statistic=1.1972570924562635, pvalue=0.54956482224433145)

/Applications/Python_Anaconda/anaconda/lib/python3.6/site-packages/scipy/stats/stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=13
  "anyway, n=%i" % int(n))
/Applications/Python_Anaconda/anaconda/lib/python3.6/site-packages/scipy/stats/stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  "anyway, n=%i" % int(n))
/Applications/Python_Anaconda/anaconda/lib/python3.6/site-packages/scipy/stats/stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=12
  "anyway, n=%i" % int(n))
/Applications/Python_Anaconda/anaconda/lib/python3.6/site-packages/scipy/stats/stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  "anyway, n=%i" % int(n))

In [38]:
#Variance Test
stats.bartlett(under25,inbetween2534,inbetween3544,inbetween5564,over65)

BartlettResult(statistic=3.1203231037537855, pvalue=0.53789538512197854)

In [40]:
#One Way Anova
stats.f_oneway(under25,inbetween2534,inbetween3544,inbetween5564,over65)
#Based on the below result, we can say that consumers of various ages rated the design differently

F_onewayResult(statistic=4.7687935934268175, pvalue=0.002321701271755479)

5. A survey was conducted among 2800 customers on several demographic characteristics. Working status, sex, age, age-group, race, happiness, no. of child, marital status, educational qualifications, income group etc. had been captured for that purpose. 
(Data set: sample_survey.csv). 
a. Is there any relationship in between labour force status with marital status? 
b. Do you think educational qualification is somehow controlling the marital status?  c. Is happiness is driven by earnings or marital status?

In [56]:
sample_survey = pd.read_csv('sample_survey.csv')
sample_survey

,id,wrkstat,marital,childs,age,educ,paeduc,maeduc,speduc,degree,...,agecat,childcat,news1,news2,news3,news4,news5,car1,car2,car3
0,1,Working full time,Divorced,2.0,60.0,12.0,12.0,12.0,NaN,High school,...,55 to 64,1-2,No,No,No,No,No,American,Japanese,Japanese
1,2,Working part-time,Never married,0.0,27.0,17.0,20.0,NaN,NaN,Junior college,...,25 to 34,None,No,No,Yes,No,No,American,German,Japanese
2,3,Working full time,Married,2.0,36.0,12.0,12.0,12.0,16.0,High school,...,35 to 44,1-2,No,No,No,Yes,Yes,American,American,NaN
3,4,Working full time,Never married,0.0,21.0,13.0,NaN,12.0,NaN,High school,...,Less than 25,None,No,No,No,Yes,Yes,American,Other,NaN
4,5,Working full time,Never married,0.0,35.0,16.0,NaN,12.0,NaN,Bachelor,...,35 to 44,None,No,No,No,No,No,American,American,Korean
5,6,Working full time,Divorced,1.0,33.0,16.0,9.0,6.0,NaN,Bachelor,...,25 to 34,1-2,No,Yes,No,Yes,Yes,American,Korean,Japanese
6,7,Working full time,Separated,0.0,43.0,12.0,14.0,12.0,NaN,High school,...,35 to 44,None,No,No,No,Yes,Yes,Korean,American,American
7,8,Working full time,Never married,0.0,29.0,13.0,16.0,12.0,NaN,High school,...,25 to 34,None,No,No,No,Yes,Yes,Other,Japanese,NaN
8,9,Working part-time,Married,2.0,39.0,18.0,16.0,12.0,13.0,Bachelor,...,35 to 44,1-2,Yes,No,Yes,No,No,American,Korean,NaN
9,10,Working full time,Divorced,0.0,45.0,15.0,16.0,12.0,NaN,Junior college,...,45 to 54,None,No,Yes,No,Yes,Yes,Korean,Japanese,Korean
10,11,"Unemployed, laid off",Never married,0.0,29.0,12.0,12.0,12.0,NaN,High school,...,25 to 34,None,No,Yes,Yes,No,Yes,Korean,Japanese,Japanese
11,12,Working full time,Married,1.0,41.0,15.0,NaN,8.0,14.0,High school,...,35 to 44,1-2,No,No,No,No,No,Japanese,German,American
12,13,Working part-time,Divorced,2.0,32.0,14.0,NaN,12.0,NaN,High school,...,25 to 34,1-2,No,Yes,Yes,No,Yes,Japanese,Japanese,Korean
13,14,Working full time,Married,1.0,48.0,20.0,12.0,8.0,16.0,Bachelor,...,45 to 54,1-2,No,No,No,No,No,Japanese,Japanese,Japanese
14,15,Keeping house,Never married,0.0,20.0,12.0,12.0,12.0,NaN,High school,...,Less than 25,None,No,No,Yes,No,No,Korean,American,NaN
15,16,Working full time,Married,5.0,43.0,16.0,6.0,6.0,12.0,Bachelor,...,35 to 44,5 or more,No,No,No,No,No,Other,American,Japanese
16,17,Working full time,Divorced,4.0,27.0,11.0,6.0,4.0,NaN,LT High school,...,25 to 34,3-4,No,Yes,No,Yes,Yes,Swedish,American,Swedish
17,18,Keeping house,Widowed,7.0,34.0,7.0,NaN,NaN,NaN,LT High school,...,25 to 34,5 or more,No,No,Yes,No,No,American,German,NaN
18,19,Working full time,Separated,0.0,43.0,9.0,0.0,NaN,NaN,LT High school,...,35 to 44,None,No,No,No,No,No,American,Korean,Japanese
19,20,Working full time,Married,1.0,28.0,16.0,16.0,16.0,16.0,Bachelor,...,25 to 34,1-2,No,No,No,No,No,Korean,NaN,NaN
20,21,Working full time,Married,3.0,42.0,16.0,15.0,12.0,14.0,Bachelor,...,35 to 44,3-4,No,No,No,No,No,American,NaN,NaN
21,22,Working full time,Married,2.0,72.0,14.0,6.0,14.0,16.0,High school,...,65 or older,1-2,Yes,No,Yes,No,No,Other,Swedish,Japanese
22,23,Working full time,Married,3.0,45.0,16.0,NaN,12.0,14.0,Bachelor,...,45 to 54,3-4,Yes,No,No,No,No,American,Japanese,NaN
23,24,Retired,Divorced,2.0,79.0,19.0,NaN,12.0,NaN,Graduate,...,65 or older,1-2,Yes,No,No,No,No,American,Japanese,Japanese
24,25,Retired,Widowed,8.0,81.0,16.0,8.0,6.0,NaN,Bachelor,...,65 or older,5 or more,Yes,No,No,No,No,German,Japanese,Korean
25,26,Working part-time,Married,3.0,65.0,18.0,6.0,8.0,12.0,Bachelor,...,65 or older,3-4,Yes,No,Yes,No,No,Swedish,German,American
26,27,Retired,Widowed,0.0,75.0,12.0,16.0,12.0,NaN,High school,...,65 or older,None,No,No,No,No,No,Japanese,Japanese,Other
27,28,Working full time,Never married,0.0,36.0,15.0,5.0,12.0,NaN,High school,...,35 to 44,None,No,No,No,No,No,American,Other,NaN
28,29,Working full time,Divorced,0.0,48.0,14.0,13.0,10.0,NaN,High school,...,45 to 54,None,No,No,No,No,No,Japanese,Japanese,Japanese
29,30,Working full time,Divorced,2.0,61.0,13.0,6.0,8.0,NaN,High school,...,55 to 64,1-2,No,No,No,No,No,American,American,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,2803,Working full time,Widowed,0.0,28.0,13.0,12.0,12.0,NaN,High school,...,25 to 34,None,No,Yes,Yes,No,Yes,Korean,American,Korean
2803,2804,Working full time,Married,1.0,26.0,12.0,12.0,12.0,14.0,High school,...,25 to 34,1-2,No,No,No,Yes,Yes,Japanese,Japanese,German
2804,2805,Working full time,Married,3.0,34.0,12.0,12.0,12.0,12.0,High school,...,25 to 34,3-4,No,No,No,Yes,Yes,American,American,Korean
2805,2806,Working full time,Divorced,0.0,40.0,12.0,NaN,NaN,NaN,High school,...,35 to 44,None,No,No,No,No,No,German,NaN,NaN
2806,2807,Working full time,Married,3.0,48.0,12.0,11.0,4.0,12.0,High school,...,45 to 54,3-4,No,Yes,No,No,No,American,Korean,American
2807,2808,Keeping house,Married,3.0,71.0,10.0,6.0,4.0,8.0,LT High school,...,65 or older,3-4,No,Yes,No,No,No,Japanese,American,NaN
2808,2809,Working full time,Separated,3.0,61.0,12.0,12.0,12.0,NaN,High school,...,55 to 64,3-4,Yes,No,No,No,No,Other,Japanese,American
2809,2810,Working part-time,Divorced,0.0,45.0,13.0,NaN,10.0,NaN,High school,...,45 to 54,None,No,No,Yes,No,No,American,American,Swedish
2810,2811,Working full time,Divorced,4.0,50.0,12.0,9.0,10.0,NaN,High school,...,45 to 54,3-4,No,Yes,No,Yes,Yes,Japanese,Korean,American
2811,2812,Keeping house,Married,3.0,32.0,13.0,NaN,15.0,12.0,High school,...,25 to 34,3-4,No,Yes,Yes,No,Yes,Korean,NaN,NaN
2812,2813,Retired,Widowed,1.0,77.0,14.0,7.0,7.0,NaN,High school,...,65 or older,1-2,Yes,No,Yes,No,No,German,Japanese,American
2813,2814,Working full time,Married,3.0,47.0,13.0,16.0,12.0,13.0,High school,...,45 to 54,3-4,No,No,No,No,No,American,Korean,Korean
2814,2815,Working full time,Married,0.0,24.0,13.0,NaN,NaN,14.0,High school,...,Less than 25,None,No,No,No,No,No,American,American,NaN
2815,2816,Working full time,Married,2.0,49.0,18.0,8.0,17.0,12.0,Graduate,...,45 to 54,1-2,No,No,No,Yes,Yes,German,Korean,American
2816,2817,Retired,Married,2.0,68.0,12.0,12.0,12.0,12.0,High school,...,65 or older,1-2,Yes,No,Yes,No,No,American,American,Japanese
2817,2818,Working full time,Married,1.0,49.0,14.0,11.0,11.0,12.0,Junior college,...,45 to 54,1-2,No,No,No,Yes,Yes,American,Japanese,Japanese
2818,2819,Retired,Widowed,3.0,81.0,12.0,3.0,8.0,NaN,High school,...,65 or older,3-4,Yes,No,No,No,No,American,Swedish,American
2819,2820,Working full time,Married,1.0,49.0,14.0,8.0,9.0,12.0,Junior college,...,45 to 54,1-2,No,No,No,Yes,Yes,Korean,Japanese,Japanese
2820,2821,Retired,Married,3.0,65.0,12.0,8.0,14.0,12.0,High school,...,65 or older,3-4,No,No,No,No,No,American,NaN,NaN
2821,2822,Working full time,Never married,0.0,49.0,12.0,5.0,8.0,NaN,High school,...,45 to 54,None,Yes,No,Yes,No,No,American,NaN,NaN
2822,2823,Working full time,Married,2.0,37.0,14.0,8.0,8.0,13.0,Junior college,...,35 to 44,1-2,No,No,No,Yes,Yes,American,Korean,American
2823,2824,Working full time,Married,3.0,30.0,12.0,12.0,11.0,12.0,High school,...,25 to 34,3-4,No,No,No,No,No,German,Other,Korean
2824,2825,"Unemployed, laid off",Married,3.0,48.0,13.0,16.0,16.0,16.0,High school,...,45 to 54,3-4,Yes,No,Yes,No,No,American,Japanese,Swedish
2825,2826,Working full time,Married,2.0,37.0,12.0,NaN,9.0,11.0,High school,...,35 to 44,1-2,Yes,No,Yes,No,No,American,NaN,NaN
2826,2827,Working full time,Separated,3.0,59.0,9.0,6.0,6.0,NaN,LT High school,...,55 to 64,3-4,No,Yes,No,Yes,Yes,Japanese,Japanese,NaN
2827,2828,Working full time,Married,2.0,73.0,14.0,8.0,12.0,12.0,Junior college,...,65 or older,1-2,No,No,No,No,No,American,American,German
2828,2829,Working full time,Divorced,0.0,40.0,12.0,12.0,12.0,NaN,High school,...,35 to 44,None,No,No,No,No,No,Japanese,NaN,NaN
2829,2830,Retired,Married,0.0,73.0,6.0,4.0,NaN,10.0,LT High school,...,65 or older,None,Yes,No,Yes,No,No,Korean,American,American
2830,2831,Working full time,Never married,0.0,47.0,12.0,12.0,12.0,NaN,High school,...,45 to 54,None,No,No,No,No,No,Japanese,NaN,NaN
2831,2832,Working part-time,Never married,0.0,20.0,10.0,NaN,NaN,NaN,LT High school,...,Less than 25,None,No,No,No,No,No,Swedish,American,German

##### a. Is there any relationship in between labour force status with marital status?

In [69]:
rel = sample_survey[['wrkstat','marital']].dropna()

In [82]:
wrkstat = pd.get_dummies(rel.wrkstat)
marital = pd.get_dummies(rel.marital)
pd.concat([wrkstat,marital])

,Divorced,Keeping house,Married,Never married,Other,Retired,School,Separated,Temporarily not working,"Unemployed, laid off",Widowed,Working full time,Working part-time
0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
1,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,1.0
2,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
3,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
4,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
5,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
6,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
7,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
8,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,1.0
9,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
10,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,1.0,NaN,0.0,0.0
11,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
12,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,1.0
13,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
14,NaN,1.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
15,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
16,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
17,NaN,1.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
18,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
19,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
20,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
21,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
22,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
23,NaN,0.0,NaN,NaN,0.0,1.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
24,NaN,0.0,NaN,NaN,0.0,1.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
25,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,1.0
26,NaN,0.0,NaN,NaN,0.0,1.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
27,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
28,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
29,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,0.0,NaN,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN
2803,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2804,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2805,1.0,NaN,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2806,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2807,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2808,0.0,NaN,0.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN
2809,1.0,NaN,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2810,1.0,NaN,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2811,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2812,0.0,NaN,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN
2813,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2814,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2815,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2816,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2817,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2818,0.0,NaN,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN
2819,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2820,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2821,0.0,NaN,0.0,1.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2822,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2823,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2824,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2825,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2826,0.0,NaN,0.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN
2827,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2828,1.0,NaN,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2829,0.0,NaN,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2830,0.0,NaN,0.0,1.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2831,0.0,NaN,0.0,1.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN

In [77]:
stats.pearsonr(rel.wrkstat,rel.marital)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

##### b. Do you think educational qualification is somehow controlling the marital status?

#####  c. Is happiness is driven by earnings or marital status?