# Pandas Exercise: Deleting (Wine)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the wine dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [2]:
pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',header = None).head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 3. Assign it to a variable called wine

In [3]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',header=None)
wine.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [4]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
0     178 non-null int64
1     178 non-null float64
2     178 non-null float64
3     178 non-null float64
4     178 non-null float64
5     178 non-null int64
6     178 non-null float64
7     178 non-null float64
8     178 non-null float64
9     178 non-null float64
10    178 non-null float64
11    178 non-null float64
12    178 non-null float64
13    178 non-null int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB

In [7]:
wine.drop([0,3,6,8,10,12,13],axis = 1, inplace = True) #Executed for dropping the following columns first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth
wine.head(3)

      1     2     4    5     7     9     11
0  14.23  1.71  15.6  127  3.06  2.29  1.04
1  13.20  1.78  11.2  100  2.76  1.28  1.05
2  13.16  2.36  18.6  101  3.24  2.81  1.03

### Step 5. Assign the columns as below:

The attributes are:  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [8]:
wine.columns = ['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids', 'proanthocyanins','hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [38]:
wine['alcohol'][0:3] = None

/Applications/Python_Anaconda/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
wine.head(5)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,None,1.71,15.6,127.0,3.06,2.29,1.04
1,None,1.78,11.2,100.0,2.76,1.28,1.05
2,None,2.36,18.6,101.0,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,NaN,2.69,1.82,1.04

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [40]:
wine['magnesium'][[3,4]] = None

/Applications/Python_Anaconda/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [51]:
wine['alcohol'] = wine['alcohol'].fillna(10)
wine['magnesium'] = wine['magnesium'].fillna(100)
wine[['alcohol','magnesium']].head(10)

   alcohol  magnesium
0    10.00      127.0
1    10.00      100.0
2    10.00      101.0
3    14.37      100.0
4    13.24      100.0
5    14.20      112.0
6    14.39       96.0
7    14.06      121.0
8    14.83       97.0
9    13.86       98.0

### Step 9. Count the number of missing values

In [57]:
print (sum(wine['alcohol'].isnull()))
print (sum(wine['magnesium'].isnull()))

0
0

### Step 10.  Create an array of 10 random numbers up until 10

In [61]:
import numpy as np
np.random.randint(0,10,10)

array([4, 8, 0, 4, 9, 9, 0, 5, 8, 1])

### Step 11.  Set the rows of the random numbers in the column

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
2,10.00,2.36,18.6,101.0,3.24,2.81,1.03
5,14.20,1.76,15.2,112.0,3.39,1.97,1.05
6,14.39,1.87,14.6,96.0,2.52,1.98,1.02
2,10.00,2.36,18.6,101.0,3.24,2.81,1.03
5,14.20,1.76,15.2,112.0,3.39,1.97,1.05
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
4,13.24,2.59,21.0,100.0,2.69,1.82,1.04
3,14.37,1.95,16.8,100.0,3.49,2.18,0.86
8,14.83,1.64,14.0,97.0,2.98,1.98,1.08
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04

### Step 12.  How many missing values do we have?

### Step 14. Print only the non-null values in alcohol

### Step 13. Delete the rows that contain missing values

### Step 15.  Reset the index, so it starts with 0 again

### BONUS: Create your own question and answer it.