# Pandas Exercise: Merging (MPG Cars)

### Step 1. Import the necessary libraries

In [27]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv).

In [3]:
pd.read_csv('C:\\Users\\sandeep.a.pradhan\\Documents\\ALabs\\Chandra\\Class 4-5\\2. Pandas Basic Exercises\\Pandas Exercise6 files\\cars1.csv')
pd.read_csv('C:\\Users\\sandeep.a.pradhan\\Documents\\ALabs\\Chandra\\Class 4-5\\2. Pandas Basic Exercises\\Pandas Exercise6 files\\cars2.csv')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
5,29.5,4,97,71,1825,12.2,76,2,volkswagen rabbit
6,32.0,4,85,70,1990,17.0,76,3,datsun b-210
7,28.0,4,97,75,2155,16.4,76,3,toyota corolla
8,26.5,4,140,72,2565,13.6,76,1,ford pinto
9,20.0,4,130,102,3150,15.7,76,2,volvo 245
10,13.0,8,318,150,3940,13.2,76,1,plymouth volare premier v8
11,19.0,4,120,88,3270,21.9,76,2,peugeot 504
12,19.0,6,156,108,2930,15.5,76,3,toyota mark ii
13,16.5,6,168,120,3820,16.7,76,2,mercedes-benz 280s
14,16.5,8,350,180,4380,12.1,76,1,cadillac seville
15,13.0,8,350,145,4055,12.0,76,1,chevy c10
16,13.0,8,302,130,3870,15.0,76,1,ford f108
17,13.0,8,318,150,3755,14.0,76,1,dodge d100
18,31.5,4,98,68,2045,18.5,77,3,honda accord cvcc
19,30.0,4,111,80,2155,14.8,77,1,buick opel isuzu deluxe
20,36.0,4,79,58,1825,18.6,77,2,renault 5 gtl
21,25.5,4,122,96,2300,15.5,77,1,plymouth arrow gs
22,33.5,4,85,70,1945,16.8,77,3,datsun f-10 hatchback
23,17.5,8,305,145,3880,12.5,77,1,chevrolet caprice classic
24,17.0,8,260,110,4060,19.0,77,1,oldsmobile cutlass supreme
25,15.5,8,318,145,4140,13.7,77,1,dodge monaco brougham
26,15.0,8,302,130,4295,14.9,77,1,mercury cougar brougham
27,17.5,6,250,110,3520,16.4,77,1,chevrolet concours
28,20.5,6,231,105,3425,16.9,77,1,buick skylark
29,19.0,6,225,100,3630,17.7,77,1,plymouth volare custom
...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
183,36.0,4,107,75,2205,14.5,82,3,honda accord
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla
185,38.0,4,91,67,1965,15.0,82,3,honda civic
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
188,25.0,6,181,110,2945,16.4,82,1,buick century limited
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
191,22.0,6,232,112,2835,14.7,82,1,ford granada l
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [4]:
cars1 = pd.read_csv('C:\\Users\\sandeep.a.pradhan\\Documents\\ALabs\\Chandra\\Class 4-5\\2. Pandas Basic Exercises\\Pandas Exercise6 files\\cars1.csv')
cars2 = pd.read_csv('C:\\Users\\sandeep.a.pradhan\\Documents\\ALabs\\Chandra\\Class 4-5\\2. Pandas Basic Exercises\\Pandas Exercise6 files\\cars2.csv')

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [12]:
cars1.rename(columns = {'Unnamed: 9':'x','Unnamed: 9':'x','Unnamed: 10':'y','Unnamed: 11':'z','Unnamed: 12':'x1','Unnamed: 13':'y1',}).head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,x,y,z,x1,y1
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN

### Step 5. What is the number of observations in each dataset?

In [15]:
print (cars1.size)
print (cars2.size)

2772
1800

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [26]:
cars = pd.merge(cars1,cars2, on = 'model')

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [40]:
np.random.randint(low = 1500,high = 73001, size = cars.size)

array([67344, 71037, 66751, ..., 18079, 44324, 14811])

### Step 8. Add the column owners to cars

In [41]:
cars['owners'] = pd.DataFrame(np.random.randint(low = 1500,high = 73001, size = cars.size))