### Hypothesis Testing Case Study

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [3]:
pwd()

'C:\\Users\\sandeep.a.pradhan\\Documents\\ALabs\\Chandra\\Class 8-9 Files (Basic Statistics - Statistical Methods Class)'

Description about data: The data set (cust_seg) is information of 200 customers who were part of the last campaign conducted by one of the major Bank-credit card division. The CMO would like to test below hypothesis based on the data.

In [4]:
cust=pd.read_csv("cust_seg.csv")

In [5]:
cust.head(5)

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [7]:
cust.columns

Index(['custid', 'sex', 'AqChannel', 'region', 'Marital_status', 'segment',
       'pre_usage', 'Post_usage_1month', 'Latest_mon_usage',
       'post_usage_2ndmonth'],
      dtype='object')

In [8]:
cust.Latest_mon_usage.mean()

63.17400000000001

In [10]:
cust.Latest_mon_usage.std()

11.242137352892753

In [14]:
cust.pre_usage.mean()

52.23

1. Card usage has been improved significantly from last year usage which is 50. (Hint: Comparing card usage of post campaign of 1 month with last year hypothesized value 50)

### One Sample T-Test

In [1]:
stats.ttest_1samp(a= cust.Latest_mon_usage,               # Sample data
                 popmean= 50)  # Pop mean

NameError: name 'stats' is not defined

In [22]:
cust.Latest_mon_usage.mean()

63.17400000000001

2. The last campaign was successful in terms usage of credit card. (Hint: Comparing means for card usage of pre & post usage of campaign)

### Two Sample T-Test (Paired T Test)
#### pre_usage and post_usage_2ndmonth are dependent in nature

In [16]:
print (cust.pre_usage.mean())
print (cust.post_usage_2ndmonth.mean())

52.23
58.05250000000003

In [23]:
#stats.ttest_rel(a = before, b = after)
stats.ttest_rel(a=cust.pre_usage,
                b=cust.post_usage_2ndmonth)    # Assume samples have equal variance?

Ttest_relResult(statistic=-8.8668322469387419, pvalue=4.2957338280128361e-16)

3. Is there any difference between males & females in terms of credit card usage? (Hint: Comparing means of card usage for males & females)

### Two sample T-Test (Independent)

In [25]:
Males_spend = cust.Post_usage_1month[cust.sex==0]
FeMales_spend = cust.Post_usage_1month[cust.sex==1]

In [26]:
print (FeMales_spend.head(3))
print (Males_spend.head(3))

1     59
92    62
93    44
Name: Post_usage_1month, dtype: int64
0    52
2    33
3    44
Name: Post_usage_1month, dtype: int64

In [24]:
print (Males_spend.mean())
print (FeMales_spend.mean())

50.120879120879124
54.99082568807339

In [27]:
print (Males_spend.std())
print (FeMales_spend.std())

10.305160697259263
8.13371516959346

In [33]:
print (stats.normaltest(Males_spend))
print(stats.normaltest(FeMales_spend))

NormaltestResult(statistic=21.685356537944031, pvalue=1.9547204599937583e-05)
NormaltestResult(statistic=7.2512624568576838, pvalue=0.026632280976554359)

In [28]:
stats.levene(Males_spend,FeMales_spend)

LeveneResult(statistic=9.6196907287875177, pvalue=0.0022059987932221757)

In [29]:
stats.ttest_ind(a= Males_spend,
                b= FeMales_spend,
                equal_var=False)    # Assume samples have not equal variance?

Ttest_indResult(statistic=-3.6564080478875276, pvalue=0.00034088493594266187)

In [30]:
stats.ttest_ind(a= Males_spend,
                b= FeMales_spend,
                equal_var=True)    # Assume samples have equal variance?

Ttest_indResult(statistic=-3.7340738531536797, pvalue=0.00024625461203549315)

In [34]:
stats.f_oneway(Males_spend, FeMales_spend)

F_onewayResult(statistic=13.943307540805989, pvalue=0.00024625461203549033)

4. Is there any difference between segments of customers in terms of credit card usage? (Hint: Comparing means of card usage of different segment customers)

### ANOVA

In [ ]:
cust.segment.value_counts()

In [19]:
s1 = cust.Latest_mon_usage[cust.segment==1]
s2 = cust.Latest_mon_usage[cust.segment==2]
s3 = cust.Latest_mon_usage[cust.segment==3]

# Perform the ANOVA
stats.f_oneway(s1, s2, s3)

F_onewayResult(statistic=29.279283801321778, pvalue=7.3640108335267396e-12)

In [22]:
cust.Latest_mon_usage.mean()
cust.Latest_mon_usage.std()

11.242137352892753

In [20]:
print s1.mean(); print s2.mean(); print s3.mean()

60.0266666667
68.08
55.704

5. Is there any relation between region & Segment? (Hint: Finding the relationship between categorical variables region and Segment)

### Chi-squre Test

In [23]:
t=pd.crosstab(cust.segment, cust.region, margins = True)
t

region    1   2   3  All
segment
1        16  20   9   45
2        19  44  42  105
3        12  31   7   50
All      47  95  58  200

In [24]:
stats.chi2_contingency(observed= t)

(16.604441649489338,
 0.055282939487992365,
 9L,
 array([[  10.575,   21.375,   13.05 ,   45.   ],
        [  24.675,   49.875,   30.45 ,  105.   ],
        [  11.75 ,   23.75 ,   14.5  ,   50.   ],
        [  47.   ,   95.   ,   58.   ,  200.   ]]))

6. Is the relationship between card usage in the latest month and pre usage of campaign?  (Hint: find the correlation between latest_mon_usage and pre_usage)

### Correlation

In [25]:
print np.corrcoef(cust.Latest_mon_usage, cust.Post_usage_1month)
print stats.stats.pearsonr(cust.Latest_mon_usage, cust.Post_usage_1month)

[[ 1.          0.61744926]
 [ 0.61744926  1.        ]]
(0.61744926448549187, 2.0866647416871388e-22)

### Simple regression

In [ ]:
sm.OLS?

In [ ]:
 statsmodels.tools.add_constant?

In [ ]:
import statsmodels.api as sm
Y = cust.Latest_mon_usage
X = sm.add_constant(cust.Post_usage_1month )
mod = sm.OLS(Y, X)
res = mod.fit()
print res.summary()