In [6]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

1. A physician is evaluating a new diet for her patients with a family history of heart disease. To test the effectiveness of this diet, 16 patients are placed on the diet for 6 months. Their weights and triglyceride levels are measured before and after the study, and the physician wants to know if either set of measurements has changed. 
(Data set: dietstudy.csv)

In [36]:
dietstudy = pd.read_csv('dietstudy.csv')
dietstudy

    patid  age  gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0       1   45    Male  180  148  106  113  100   198   196   193   188   192
1       2   56    Male  139   94  119   75   92   237   233   232   228   225
2       3   50    Male  152  185   86  149  118   233   231   229   228   226
3       4   46  Female  112  145  136  149   82   179   181   177   174   172
4       5   64    Male  156  104  157   79   97   219   217   215   213   214
5       6   49  Female  167  138   88  107  171   169   166   165   162   161
6       7   63    Male  138  132  146  143  132   222   219   215   215   210
7       8   63  Female  160  128  150  118  123   167   167   166   162   161
8       9   52    Male  107  120  129  195  174   199   200   196   196   193
9      10   45    Male  156  103  126  135   92   233   229   229   229   226
10     11   61  Female   94  144  114  114  121   179   181   176   173   173
11     12   49  Female  107   93  156  148  150   158   153   155   155   154
12     13   61  Female  145  107  129   86  159   157   151   150   145   143
13     14   59    Male  186  142  128  122  101   216   213   210   210   206
14     15   52    Male  112  107  103   89  148   257   255   254   252   249
15     16   60  Female  104  103  117   79  130   151   146   144   144   140

In [38]:
from sklearn import preprocessing
preprocessing.scale(dietstudy.tg0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, _DataConversionWarning)

array([ 1.47814645,  0.02000499,  0.48234253, -0.94023451,  0.62460023,
        1.01580891, -0.01555944,  0.76685793, -1.11805664,  0.62460023,
       -1.58039417, -1.11805664,  0.23339154,  1.691533  , -0.94023451,
       -1.22474991])

2. An analyst at a department store wants to evaluate a recent credit card promotion. To this end, 500 cardholders were randomly selected. Half received an ad promoting a reduced interest rate on purchases made over the next three months, and half received a standard seasonal ad. Is the promotion effective to increase sales?
(Data set: creditpromo.csv)

In [9]:
creditpromo = pd.read_csv('creditpromo.csv')
creditpromo.head(5)

     id         insert      dollars
0   148       Standard  2232.771979
1   572  New Promotion  1403.807542
2   973       Standard  2327.092181
3  1096       Standard  1280.030541
4  1541  New Promotion  1513.563200

In [25]:
Standard = creditpromo[creditpromo['insert'] == 'Standard']['dollars']
NewPromotion = creditpromo[creditpromo['insert'] != 'Standard']['dollars']

#### Normality Test

In [42]:
from sklearn import preprocessing
print ("Normality Test for Standard:",stats.normaltest(preprocessing.scale(Standard)))
print ("Normality Test for Standard:",stats.normaltest(Standard))
print ("Normality Test for New Promotion:",stats.normaltest(NewPromotion))

Normality Test for Standard: NormaltestResult(statistic=3.7869448422090519, pvalue=0.15054813363567141)
Normality Test for Standard: NormaltestResult(statistic=3.7869448422090537, pvalue=0.15054813363567127)
Normality Test for New Promotion: NormaltestResult(statistic=2.3711522475029621, pvalue=0.3055700825944534)

#### Variance Test

In [31]:
print ("Bartlett's test for equal Variance",stats.bartlett(Standard,NewPromotion))
print ("Levene's test for equal Variance",stats.levene(Standard,NewPromotion))

Bartlett's test for equal Variance BartlettResult(statistic=0.20212739623859383, pvalue=0.65300912518720944)
Levene's test for equal Variance LeveneResult(statistic=1.1334682485473733, pvalue=0.28755268634638775)

#### 2- Sample T Test

In [33]:
#In this Business Case the Discrete variables(x) are independent in nature, so we'll go for 2-sample T test for equal variance
stats.ttest_ind(a = NewPromotion,
               b = Standard,
               equal_var = True)
#As we get the as P-Value  0.024 which is less than 0.05. Hence we'll accept the Ha. i.e. we are resonabbly sure that mean of 
#New Promotion is ststistically different from Standard sales Promotion

Ttest_indResult(statistic=2.2604227264649963, pvalue=0.024225996894147814)

3. An experiment is conducted to study the hybrid seed production of bottle gourd under open field conditions. The main aim of the investigation is to compare natural pollination and hand pollination. The data are collected on 10 randomly selected plants from each of natural pollination and hand pollination. The data are collected on fruit weight (kg), seed yield/plant (g) and seedling length (cm). 
(Data set: pollination.csv) 
a. Is the overall population of Seed yield/plant (g) equals to 200? 
b. Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different.

In [62]:
pollination = pd.read_csv('pollination.csv')
pollination.Seed_Yield_Plant.size

20

In [63]:
pollination.head(5)

     Group  Fruit_Wt  Seed_Yield_Plant  Seedling_length
0  Natural      1.85            147.70            16.86
1  Natural      1.86            136.86            16.77
2  Natural      1.83            149.97            16.35
3  Natural      1.89            172.33            18.26
4  Natural      1.80            144.46            17.90

##### Is the overall population of Seed yield/plant (g) equals to 200?

In [46]:
seedyield = pollination.Seed_Yield_Plant

In [49]:
#Normality Test
stats.normaltest(preprocessing.scale(seedyield))

NormaltestResult(statistic=18.3984477718999, pvalue=0.00010111785037503622)

In [55]:
stats.wilcoxon(preprocessing.scale(seedyield))

WilcoxonResult(statistic=102.0, pvalue=0.91082498527336198)

In [58]:
#Applied Log transformation
stats.normaltest(preprocessing.scale(pollination.Seed_Yield_Plant.apply(lambda x: np.log(x))))

NormaltestResult(statistic=20.641128314585533, pvalue=3.2948521887027108e-05)

In [53]:
#1 Sample T Test
stats.ttest_1samp(a = seedyield, popmean = 200)
#As per the below outpout P-Value = 0.032 < 0.05. That means we'll accept Ha. i.e overall population of seed > 200.

Ttest_1sampResult(statistic=-2.3009121248548645, pvalue=0.032891040921283025)

In [59]:
seedyield.mean()

180.8035

##### Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different.

In [70]:
seedyield_natural = pollination.Seed_Yield_Plant[pollination.Group == 'Natural']
seedyield_hand = pollination.Seed_Yield_Plant[pollination.Group != 'Natural']

In [72]:
#Normality Test
print (stats.normaltest(preprocessing.scale(seedyield_natural)))
print (stats.normaltest(preprocessing.scale(seedyield_hand)))

NormaltestResult(statistic=13.195841834321524, pvalue=0.0013631992975820188)
NormaltestResult(statistic=0.075743550431246934, pvalue=0.96283639246506836)

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  "anyway, n=%i" % int(n))

In [74]:
# Variance Test
stats.levene(seedyield_natural,seedyield_hand)

LeveneResult(statistic=0.2714491306455149, pvalue=0.60871200870797315)

In [76]:
#2 Sample T test for equal variance
stats.ttest_ind(a = seedyield_hand,b = seedyield_natural, equal_var= True)
#As per the results below it has statistiaclly proven the samples are statistically different./

Ttest_indResult(statistic=13.958260515902547, pvalue=4.2714815854843853e-11)


4. An electronics firm is developing a new DVD player in response to customer requests. Using a prototype, the marketing team has collected focus data for different age groups viz. Under 25; 25-34; 35-44; 45-54; 55-64; 65 and above. Do you think that consumers of various ages rated the design differently?
(Data set: dvdplayer.csv).

In [10]:
dvdplayer = pd.read_csv('dvdplayer.csv')
dvdplayer.head(5)

      agegroup   dvdscore
0  65 and over  38.454803
1        55-64  17.669677
2  65 and over  31.704307
3  65 and over  25.924460
4     Under 25  30.450007

5. A survey was conducted among 2800 customers on several demographic characteristics. Working status, sex, age, age-group, race, happiness, no. of child, marital status, educational qualifications, income group etc. had been captured for that purpose. 
(Data set: sample_survey.csv). 
a. Is there any relationship in between labour force status with marital status? 
b. Do you think educational qualification is somehow controlling the marital status?  c. Is happiness is driven by earnings or marital status?

In [12]:
sample_survey = pd.read_csv('sample_survey.csv')
sample_survey.head()

,id,wrkstat,marital,childs,age,educ,paeduc,maeduc,speduc,degree,...,agecat,childcat,news1,news2,news3,news4,news5,car1,car2,car3
0,1,Working full time,Divorced,2.0,60.0,12.0,12.0,12.0,NaN,High school,...,55 to 64,1-2,No,No,No,No,No,American,Japanese,Japanese
1,2,Working part-time,Never married,0.0,27.0,17.0,20.0,NaN,NaN,Junior college,...,25 to 34,None,No,No,Yes,No,No,American,German,Japanese
2,3,Working full time,Married,2.0,36.0,12.0,12.0,12.0,16.0,High school,...,35 to 44,1-2,No,No,No,Yes,Yes,American,American,NaN
3,4,Working full time,Never married,0.0,21.0,13.0,NaN,12.0,NaN,High school,...,Less than 25,None,No,No,No,Yes,Yes,American,Other,NaN
4,5,Working full time,Never married,0.0,35.0,16.0,NaN,12.0,NaN,Bachelor,...,35 to 44,None,No,No,No,No,No,American,American,Korean